.frame {
  background-color: bisque;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
}

.card__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
